/*
Text Color (Gray13): #212121;
Primary Color (Dark Red): #781820;
Secondary Color (Gray): #ABABAB;
Tertiary Color (Yellow): #cead00;
*/

/*  structure items */
html, body {
  background-color: #f7f8fb;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 0; padding: 0;
}

.hero-bkg-animated {
  background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 4000px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

/* Background animation by subz - https://tinyurl.com/y4ezm4bs */

p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  line-height: 150%;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #5E5E5E;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  /* Firefox */
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
  -o-animation: fadein 4s;
  /* Opera */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li a {
  background-color: inherit;
  color: black;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

.capital {
  text-transform:capitalize;
}

/* end of HTML page structure items  */

/* start of Pokemon API content elements  */

.pokemon-content {
  align-items: center;
  /* padding: 70px 0; */
  text-align: center;
}

.pokemon-list {
  background-color: inherit;
  color: black;
  margin: 10px 20px 20px 10px;
}

.pokemon-list__item {
  list-style-type: none;
  margin-bottom: 15px;
}

.button-class {
  background-color: #781820;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px black;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Press Start 2P", sans-serif;
  font-size: 22px;
  opacity: 0.9;
  outline: none;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  transition: 0.6s;
  width: 20%;
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  /* Firefox */
  -webkit-animation: fadein 3s;
  /* Safari and Chrome */
  -o-animation: fadein 3s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-class:hover {
  background-color: #b6323a;
}

.button-class:active {
  background-color: #b6323a;
  box-shadow: 0 3px #272727;
  transform: translateY(1px);
}

/* start of the "Loading..." message element items  */



/* start of modal elements  */

#modal-container {
  display: none;
  text-align: center;
  color: #781820;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: rgba(0, 0, 0, 0.5);
  color: #781820;
  z-index: 999;
  overflow: auto;
}

#modal-container.is-visible {
  color: #781820;
  font-size: 18px;
  position: fixed;
  display: block;
  z-index: 3000;
  height: 100%;
}

.modal {
  margin: auto;
  color: #781820;
  background-color: #EBEBEB;
  display: inline-block;
  border-radius: 20px;
  box-sizing: border-box;
  background: #D6D6D6;
  padding: 15px;
  width: 40%;
  max-width: 40%;
  text-align: left;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

.modal h1 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 24px;
  margin-top: 0;
}

.modal h2 {
  font-family: "Press Start 2P", sans-serif;
  font-size: 20px;
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
  font-family: "Press Start 2P", sans-serif;
}

.modal-close {
  float: right;
  border-radius: 12px;
  font-weight: bold;
  -webkit-appearance: none;
  border: 0;
  background-color: inherit;
  color: #781820;
  text-decoration: underline;
}

 .modal-img {
  min-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*  end of modals */

/*  start of media queries */

@media all and (max-width: 1035px) {
  body {
    font-size: 14px;
  }

  h1 h2 h3 {
    font-size: 16px;
    font-weight: bold;
  }

  .button-class {
    border-radius: 12px;
    box-shadow: 0 4px black;
    font-size: 14px;
    width: 25%;
  }

  .title {
    font-size: 28px;
  }

  @media all and (max-width: 850px) {
    body {
      font-size: 14px;
    }

    h1 h2 h3 {
      font-size: 14px;
      font-weight: bold;
    }

    .button-class {
      border-radius: 12px;
      box-shadow: 0 4px black;
      font-size: 14px;
      width: 25%;
    }

    .title {
      font-size: 24px;
    }

  @media all and (max-width: 750px) {
    body {
      font-size: 12px;
    }

    h1 h2 h3 {
      font-size: 14px;
      font-weight: bold;
    }

    .button-class {
      border-radius: 12px;
      font-size: 12px;
      width: 30%;
    }

    .button-class:active {
      box-shadow: 0 1px #272727;
    }
  }

    #modal-container {
      display: none;
      text-align: center;
      color: #781820;
      position: fixed;
      padding: 12px;
      box-sizing: border-box;
      top: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background: rgba(0, 0, 0, 0.5);
      color: #781820;
      z-index: 999;
      overflow: auto;
    }

    #modal-container.is-visible {
      color: #781820;
      font-size: 14px;
      position: fixed;
      display: block;
      z-index: 3000;
      height: 100%;
    }

    .modal {
      margin: auto;
      color: #781820;
      background-color: #EBEBEB;
      display: inline-block;
      border-radius: 12px;
      box-sizing: border-box;
      background: #D6D6D6;
      padding: 10px;
      width: 70%;
      max-width: 70%;
      text-align: left;
      animation: fadein 1s;
      -moz-animation: fadein 1s;
      /* Firefox */
      -webkit-animation: fadein 1s;
      /* Safari and Chrome */
      -o-animation: fadein 1s;
      /* Opera */
    }

    .modal h1 {
      font-family: "Press Start 2P", sans-serif;
      font-size: 12px;
      font-weight: bold;
      margin-top: 0;
    }

    .modal h2 {
      font-family: "Press Start 2P", sans-serif;
      font-size: 12px;
      margin-top: 0;
    }

    .modal p {
      margin-bottom: 0;
      font-family: "Press Start 2P", sans-serif;
    }

    .modal-close {
      float: right;
      font-size: 12px;
      border-radius: 12px;
      font-weight: bold;
      -webkit-appearance: none;
      border: 0;
      background-color: inherit;
      color: #781820;
      text-decoration: underline;
    }

     .modal-img {
      min-width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  @media screen and (max-width: 600px) {
    body {
      font-size: 12px;
    }

    h1 h2 h3 {
      font-size: 12px;
      font-weight: bold;
    }

    .button-class {
      border-radius: 12px;
      box-shadow: 0 4px black;
      font-size: 12px;
      width: 40%;
    }

    .button-class:active {
      box-shadow: 0 1px #272727;
    }
  }

  @media all and (max-width: 500px) {
    body {
      font-size: 12px;
    }

    h1 h2 h3 {
      font-size: 14px;
      font-weight: bold;
    }

    .button-class {
      border-radius: 12px;
      font-size: 12px;
      width: 50%;
    }

    .button-class:active {
      box-shadow: 0 1px #272727;
      transform: translateY(1px);
    }
  }

  @media all and (max-width: 350px) {
    body {
      font-size: 12px;
    }

    h1 h2 h3 {
      font-size: 12px;
      font-weight: bold;
    }

    .button-class {
      border-radius: 10px;
      font-size: 12px;
      width: 50%;
    }

    .button-class:active {
      box-shadow: 0 1px #272727;
      transform: translateY(1px);
    }
  }

  @media all and (max-width: 350px) {
    body {
      font-size: 12px;
    }

    h1 h2 h3 {
      font-size: 12px;
      font-weight: bold;
    }

    .button-class {
      border-radius: 10px;
      font-size: 10px;
      width: 50%;
    }

    .button-class:active {
      box-shadow: 0 1px #272727;
      transform: translateY(1px);
    }
  }

  /* end of media queries  */
